<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="layout :: header"></th:block>
<body>
  <div class="container-fluid"> 
    <div>
    <th:block th:insert="layout::navbar"></th:block>
 </div>
  </div>
<div clas="container-fluid">
    <input type="button" style="background-color: cadetblue;" value="Back" onclick="history.go(-1)">

    <div class="card">
        <h5 class="card-title" style="text-align: center;">Login</h5>

      </div>
      
<div class="container loginTemp" style="color:red" >Sorry Please check Email and Password</div>


</body>
</html>

