<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="layout :: header"></th:block>

<body>
  <div clas="container-fluid scroller"> 
    <div>
    <th:block th:insert="layout::navbar"></th:block>
 </div>
  <div class="banner">
  <div class="layer">
<p>PlantOnline is an Indian online platform that sells plants, gardening supplies, and related products.
</p>
 </div>
 
 </div>
 <div>
  <p id="para-one">
Buy plants Online for your home & office at Ferns N Petals. We have air purifying, pet friendly, bonsai, lucky bamboo, money plants & more  </p>
 </div>

 <div class="row mid-row" style="margin-top: 50px;">
  <div class="column">
    <img src="/images/imageone.jpg" alt="Snow" style="width:100%;height: 130px;">
    <p id="para">Mint leaves</p>
  </div>
  <div class="column">
    <img src="/images/imagetwo.jpg" alt="Forest" style="width:100%;height:130px;">
    <p id="para">Pitcher Plant</p>

  </div>
  <div class="column">
    <img src="/images/imagethree.jpg" alt="Mountains" style="width:100%">
    <p id="para">Wall Hanger</p>

  </div>

  <div class="column">
    <img src="/images/imagefour.jpg" alt="Forest" style="width:100%;height:130px;">
    <p id="para">Tulsi Plant</p>

  </div>
</div>
  </div>


  <div class="info">
    <div class="row">
<div class="column">
<h6>POLICY INFO</h6>
  <p>
  Terms & Conditions
  Privacy Policy
  Terms of Use
  Disclaimer</p>
</div>
<div class="column">

<h6> ABOUT COMPANY</h6>
<p> About Us</br>
  Online Plant Nursary Team</br>
  Careers
  Testimonials
  News Room</p>
</div>
<div class="column ">
<h6>
  PLANT BUSINESS
</h6>
<p> Decoration Services
  Corporate Service
  Affiliate Program
  Retails Stores
  Franchise</p>
</div>
<div class="column">
  <h6>NEED HELP</h6>
  <P>
  ?</BR>
Contact Us</br>
FAQs
</P>
</div>
</div>
    </div>
    </footer>
</body>
</html>