<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="layout :: header"></th:block>

<body>
  <div class="container-fluid"> 
    <div>
    <th:block th:insert="layout::navbar"></th:block>
 </div>
  
</div>




<div class="card" style="width: 50rem;">
  <h5 class="card-title" style="text-align: center;">Register</h5>
</div>
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      
        <table class="table" >
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Contact</th>
        <th>Order</th>
        
            </tr>
           
                <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.firstName}"></td>
        <td th:text="${u.lastName}"></td>
        <td th:text="${u.email}"></td>
       
        
        <td>
            <a th:href="@{/update/{id}(id=${t.id})}" class="btn btn-success">Update</a>
            <a th:href="@{/delete/{id}(id=${t.id})}"  class="btn btn-success">Delete</a>
        
        </td>
                </tr>
        
            
        </table>
    </div>
  </div>
  
</div>
</div>


</body>
</html>